@font-face {
	font-family: "chocolat";
	src: url("/dafont/chocolate_5/Chocolate.ttf") format("truetype")
}

@font-face {
	font-family: "american";
	src: url("/dafont/american_signs/American\ Signs.otf") format("truetype")
}

body{
    background: linear-gradient(rgb(132, 3, 149), rgb(192, 255, 220));
    font-family: Arial, sans-serif;
    width: 90%;
    height: 100%;
    margin: auto;
}

header{
    background: linear-gradient(white, black);
    border: dashed 15px black;
    border-style: dashed solid;
    font-family: "american";
    height: 200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header .lien{
    margin: 0px 0px 0px 65%;
}

header ul{
    list-style-type: none;
    padding: 5px;
    text-decoration: none;
}

header li{
    margin: 0px 5px 0px 5px;
    float: left;
}

header a:visited{
    color: white;
    font-size: 20px;
}

header a:link{
    color: white;
    font-size: 20px;
}

header a:hover{
    background-color: black;
    border-radius: 10px;
    text-transform: uppercase;
    color: red;
    font-size: 30px;
}

.nom{
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 45px;
    color: rgb(241, 223, 229);
    font-weight: bolder;
}

hr{
    margin-left: 30px;
}

.fiche{
    display: block;
}

.bouton{
    width: 500px;
    height: 100px;
    border-radius: 5px;
    color: white;
    font-size: 40px;
}
#bouton_restaurant{
    cursor: pointer;
    background-image: url("/images/banniereb.jpg");
}

#bouton_restaurant:active{
    color: red;
}

#bouton_restaurateur{
    cursor: pointer;
    background-image: url("/images/nicob.jpg");
}

#bouton_restaurateur:active{
    color: red;
}