body{
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    font-family: Arial, sans-serif;
    color: white;
}

header{
    background-color: blue;
    background-image:url(images/restaurant.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position : absolute;
    overflow: auto;
    height: 20%px;
    width: 100%;
    display: flex;
}

header .menu{
    margin: auto;
    margin-bottom: 10px;
    align-items: center; 
}

header ul{
    list-style-type: none;
    padding: 0px;
    text-decoration: none;
}

header li{
    margin: 0px 5px 0px 5px;
    float: left;
}

header a:visited{
    color: white;
    font-size: 15px;
}

header a:link{
    color: white;
    font-size: 15px;
}

header a:hover{
    background-color: black;
    border-radius: 10px;
    text-transform: uppercase;
    color: red;
    font-size: 20px;
}