@font-face {
	font-family: "chocolat";
	src: url("/dafont/chocolate_5/Chocolate.ttf") format("truetype")
}

@font-face {
	font-family: "american";
	src: url("/dafont/american_signs/American\ Signs.otf") format("truetype")
}

body{
    background: linear-gradient(rgb(132, 3, 149), rgb(192, 255, 220));
    font-family: Arial, sans-serif;
    width: 90%;
    height: 100vh;
    margin: auto;
}

header{
    border: dashed 15px black;
    border-style: dashed solid;
    font-family: "american";
    height: 200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header .lien{
    margin: 0px 0px 0px 65%;
}

header ul{
    list-style-type: none;
    padding: 5px;
    text-decoration: none;
}

header li{
    margin: 0px 5px 0px 5px;
    float: left;
}

header a:visited{
    color: white;
    font-size: 20px;
}

header a:link{
    color: white;
    font-size: 20px;
}

header a:hover{
    background-color: black;
    border-radius: 10px;
    text-transform: uppercase;
    color: red;
    font-size: 30px;
}

.nom{
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 45px;
    color: rgb(241, 223, 229);
    font-weight: bolder;
}

#page{
    display: flex;
    flex-wrap: nowrap;
}

#presentation{
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
}

.image_nourriture{
    border-radius: 50%;
}

h3{
    font-family: "chocolat" ;
    font-size: 30px;
    text-align: center;
}

nav{
    margin: 0px 45px 0px 0px;
}

nav li{
    list-style-type: none;
}

.bouton{
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

#bouton_entree{
    font-size: 25px;
    background-image: url("/images/entree_boutonm.jpg");
}

#bouton_entree:active{
    color: red;
}

#bouton_plat{
    font-size: 25px;
    background-image: url("/images/plat_boutonm.jpg");
}

#bouton_plat:active{
    color: red;
}

#bouton_dessert{
    cursor: pointer;
    font-size: 25px;
    background-image: url("/images/dessert_boutonm.jpg");
}

#bouton_dessert:active{
    color: red;
}